<!DOCTYPE html>
<html>
  <head>
    <title>prueba</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista de dependencias</h1>
    <%dependencies.forEach(function(element){%>
    	<p><%=element%></p>
    <%});%>
  </body>
</html>
